<footer>
    <div class="piePagina">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4  col-xl-4 contacto">
                    <h3>Contacto</h3>
                    <ul>
                        <li><svg class="bi bi-phone" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                            d="M11 1H5a1 1 0 00-1 1v12a1 1 0 001 1h6a1 1 0 001-1V2a1 1 0 00-1-1zM5 0a2 2 0 00-2 2v12a2 2 0 002 2h6a2 2 0 002-2V2a2 2 0 00-2-2H5z"
                            clip-rule="evenodd" />
                            <path fill-rule="evenodd" d="M8 14a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                        </svg> +(800)123456789</li>
                        <li><svg class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                            d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z"
                            clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                            d="M.071 4.243a.5.5 0 01.686-.172L8 8.417l7.243-4.346a.5.5 0 01.514.858L8 9.583.243 4.93a.5.5 0 01-.172-.686z"
                            clip-rule="evenodd" />
                            <path
                            d="M6.752 8.932l.432-.252-.504-.864-.432.252.504.864zm-6 3.5l6-3.5-.504-.864-6 3.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6 3.5l-6-3.5.504-.864 6 3.5-.504.864z" />
                        </svg> info@vestirte.com</li>
                        <li><svg class="bi bi-bullseye" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                            d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                            clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                            d="M8 13A5 5 0 108 3a5 5 0 000 10zm0 1A6 6 0 108 2a6 6 0 000 12z"
                            clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                            d="M8 11a3 3 0 100-6 3 3 0 000 6zm0 1a4 4 0 100-8 4 4 0 000 8z"
                            clip-rule="evenodd" />
                            <path d="M9.5 8a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
                        </svg> Localizacion</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-4 col-xl-4 politica">
                    <h3>Politica & info</h3>
                    <p>Terminos y condiciones</p>
                </div>
                
                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 suscripcions">
                    <h3>Suscribete ahora</h3>
                    <p>Vas a recibir todas nuestras novedades</p><br>
                    <form action="">
                        <input type="email">
                        <button>Suscribe</button> <br> <br>
                        <span><a href="#"><i class="fa fa-facebook"></i></a> </span> &nbsp
                        <span><a href="#"><i class="fa fa-instagram"></i></a> </span> &nbsp
                        <span><a href="#"><i class="fa fa-twitter"></i></a> </span> &nbsp
                        <span><a href="#"><i class="fa fa-pinterest"></i></a> </span> &nbsp 
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="containe-fluid base-footer">
        <p>Copyright © 2020 - Desarrollado Vestirte</p>
    </div>
</footer>