<div class="container-login">

    <br>


    
<form id ="formularioLogin"action='/usuarios/login' method="POST" class="loginform col-7 col-sm-6 col-md-5 col-lg-4 mx-auto border container-form">
    
    <div class="form-row ">
        <div class="col-12 col-sm-12 col-md-12  mb-2 mt-5  text-center"><h3>LOGIN</h3></div>

        <div class="col-11 col-md-11 col-sm-11  mt-2 mb-1 mx-auto form-inline border-gris">
        <input type="email" name='email' class="email col-10 col-sm-10 col-md-10 p-2  border-0 p-0" id="emailLogin"placeholder= "correo" >
        <label  class= "col-1 col-sm-1 col-md-2" for="validationServer01 "> <i class=" icon-orange far fa-envelope  mt-2 fa-1x"></i></label>
        
      </div>
      <div class="col-11 col-md-11 col-sm-11  mt-2 mb-1 mx-auto form-inline border-gris">
        <input id = "candado" type="password" name='password' class="password col-10 col-sm-10 col-md-10 p-2 border-0 p-0" id="passwordLogin" placeholder="contraseña">
        <label  class= "col-1 col-sm-1 col-md-2" for="validationServer02 "><i onclick="cambiar()"  id="imgcandado" class=" candado icon-orange fas fa-lock-open  mt-2 fa-1x"></i></label>
        
      </div>
        </div>
        <div class="recordarme d-flex justify-content-end col-md-11 p-md-2"><p><a href="/formulario"></a>Olvidaste tu Contraseña?</a></p></div>
      <div class="d-flex justify-content-end col-md-11 p-md-2">
        <label>Recuerdame</label><input name="recuerdame" type="checkbox"> 
      </div>
    

    <div class="d-flex justify-content-center col-12 my-2 mt-3">
    <button class=" col-8 col-sm-6 col-md-6 col-lg-5  col-xl-5  mt-md-4 mt-lg-2 boton " type="submit"  >Iniciar sesion</button>
    </div>
    
    <div class="recordarme d-flex justify-content-center mb-md-5 mb-lg-5"><p>No eres miembro? <a href="/usuarios/registro">Registrate</a></p></div>
    <div class="  d-flex justify-content-center mb-4 mt-2 mt-md-1 mb-md-3 mb-lg-5"><i class="fab fa-facebook fa-2x facebook "></i><p class="my-auto ml-1 recordarme" > Ingresa con Facebook</p></div>
    
    <% if(locals.errors && errors.email) { %>
      <div class='error col-12 col-sm-12 col-md-12  mb-2 mt-5  text-center'>
      <p><%= errors.email.msg %></p>
      </div>
      <% } %>
    <% if(locals.errors && errors.password) { %>
      <div class='error col-12 col-sm-12 col-md-12  mb-2 mt-2  text-center'>
        <p><%= errors.password.msg %></p>
      </div>
    <% } %>
    <div id="errorTexLogin" class="text-center"></div>
</form><br>
</div>