<!--modal de envio -->
<i class="fas fa-truck"></i>
<button type="button" id="pagos"data-toggle="modal" data-target="#envios">
    Envios
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="envios" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="envios" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title " id="staticBackdropLabel">Metodos de envio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-dialog ">
            <div>
                <img src="/img/envios.png"class="img-fluid">
            </div>

        </div>
      </div>
    </div>
  </div>