<!--modal de pagos -->
<i class="far fa-credit-card"></i>
<button type="button" id="pagos"data-toggle="modal" data-target="#staticBackdrop">
    Medios de Pago
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title " id="staticBackdropLabel">Medios de Pagos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-dialog ">
            <div>
                <img src="/img/pagos.png"class="img-fluid">
            </div>

        </div>
      </div>
    </div>
  </div>