<!-- nuevo producto! -->
<!-- Button trigger modal -->
<button type="button" class="btn boton mb-2 m-0 col-4 col-md-2" data-toggle="modal" data-target="#carga-producto">
  + Nuevo
</button>

<div class="modal fade " id="carga-producto" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header pb-0 border-0">
        <h5 class="modal-title " id="carga-productoLabel">Nuevo Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"class="border-oscuro rounded-pill  px-2">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="border-0" >
          <!-- <img src="/img/img-productos/default-image.png" class="card-img-top img-product mt-0" alt="imagen de producto que se agregará"> -->
        </div>
        <!-- <input class="btn btn-light mt-1 mb-3" type="submit" value="Cargar imagen"> -->
        <div id="div" class="errores">
          <ul></ul>
        </div>
        <form id="formularioCrear" method="POST" action="/productos/crear" enctype="multipart/form-data" class="formp">

          <div class="row">
            <div class="col-4"><label for="inputText" class=" pt-3 pb-0" id="label">Nombre</label></div>
            <div class=" col-7   form-inline border-gris ">
              <input id="nombreProducto" type="text" class="border-0 p-0" name="nombre">
            </div>

            <div class="col-4"><label for="inputText" class=" pt-3 pb-0">Descripcion</label></div>
            <div class=" col-7  form-inline border-gris ">
              <input type="text" class="  border-0 p-0" name="descripcion"  id="descripcion">
            </div>

            <div class="col-4"><label for="inputText" class=" pt-3 pb-0">Precio</label></div>
            <div class=" col-7  form-inline border-gris ">
              <input type="number" class="  border-0 p-0" name="precio" id="precio">
            </div>

            <div class="col-4"><label for="inputText" class=" pt-3 pb-0">Descuento</label></div>
            <div class=" col-7  form-inline border-gris ">
              <input type="number" class="  border-0 p-0" name="descuento"  id="descuento">
            </div>

            <div class="col-4"><label for="inputText" class=" pt-3 pb-0">Categoria</label></div>
            <div class=" col-7  form-inline border-gris ">
              <input type="text" class="  border-0 p-0" name="categoria" id="categoria">
            </div>

            <div class="col-4"><label for="inputText" class=" pt-3 pb-0">Costo de envio</label></div>
            <div class=" col-7  form-inline border-gris ">
              <input type="number" class="  border-0 p-0" name="envio" id="costoEnvio">
            </div>

            <div class="col-4"><label for="inputText" class=" pt-3 pb-0">Stock</label></div>
            <div class=" col-7   form-inline border-gris ">
              <input type="number" class="  border-0 p-0" name="stock"  id="stock">
            </div>

            <div class="col-4">
              <label for="imagen" class=" pt-3 pb-0">Imagen</label>
              <input type="file" name="imagen" id="imagen" onchange="uploadImage(this);" >
            </div>
            <div class=" col-7   form-inline border-gris ">

            </div>

          </div>

        </div>

        <div class="form-group row d-flex justify-content-end mb-0">
          <div class=" col-4 ml-3 mb-0">
            <button  type="submit" class="boton mb-3 ml-3 px-4 py-2  ">Cargar</button>

          </div>
        </div>
        <div id="errorTexProducto" class="text-center"></div>
       
      </form>
    
    </div>
  </div>
</div>

<script src="/js/validacionprodcutoscrear.js"></script>  
