<div id="info-varios"  class="container mt-5 mb-5">
    <div id="info" class="row d-flex justify-content-around rounded  p-3 mt-5 mb-4">
       <div class="col-1  "><i class="fas fa-people-carry fa-3x"></i>
       </div>    
       <div class= "col-2 " >Envios Gratis<br><a href="">En todas sus ordenes</a>
       </div>

       <div class="col-1 "><i class="fas fa-umbrella fa-3x"></i>
       </div>    
       <div class= "col-2" >100% Garantia<br><a href="">30 Dias</a>
       </div>

       <div class="col-1 "><i class="far fa-clock fa-3x"></i>
       </div>    
       <div class= "col-2" >Soporte<br><a href="">24/7 Atencion al cliente</a>
       </div>

       <div class="col-1 "><i class="fas fa-credit-card fa-3x"></i>
       </div>    
       <div class= "col-2 " > Metodo de pago<br><a href="">Pago Seguro</a>
       </div>
    </div>

    
</div>