<!-- ultima visita -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12 container">
            <h2 class="products-title border-bottom ">Productos destacados</h2>
        </div>
        <% for (producto of destacados) { %>
        <div class="col-12 col-sm-6 col-lg-3  pt-4 pb-3 ">
            <section class="product-box ">
                <a href="/productos/detalles/<%= producto.id %>">
                    <figure class="product-box_image">
                        <img src="/img/img-productos/<%= producto.imagen %>"  alt ="imagen de producto" width="250" >
                    </figure>
                </a>
                    <article class="product-box_data  ">
                        <p><%= producto.nombre %></p>
                        <h2>$<%= producto.precio %></h2>
                    </article>
                 
            </section>
        </div>
        <%}%>
    </div></div>
    