
<div class="container text-center perfil col-12">
    <h1>
        Bienvenido <%= locals.user.nombre %>
    </h1>
    <img  src="/img/img-users/<%= locals.user.image %> " alt="imagen de user"><br><br>
    <a href="/">
</div>

